# ===============================
# Python - Backend
# ===============================
__pycache__/
*.pyc
venv/
.env
secrets/         

# ===============================
# Node - Frontend
# ===============================
node_modules/
build/
.env.local
.env.development
.env.production

# ===============================
# Output files
# ===============================
outputs/
*.xlsx

# ===============================
# IDEs & OS Junk
# ===============================
.vscode/
.DS_Store
Thumbs.db
